<%= form_tag('/invoices/new_with_supplier') do -%>
  <p>
    Suppliers: <%= select_tag "supplier_id", options_from_collection_for_select(Supplier.order("name").where(:id => Po.open_pos.collect {|po| po.supplier_id}.uniq ), "id", "name") %>
  </p>
  <p>
    <%= submit_tag "Fetch POs" %>
    <%= submit_tag "Cancel" %>
  </p>
<% end %>
