<div class="span-24 last">
  <%= render 'summary' %>
  

  <div class="span-24 last">
    <%= link_to 'Edit', edit_enrichedtitle_path(@enrichedtitle) %>
    <%= link_to 'Back', enrichedtitles_path %>
  </div>
</div>